Django==4.0.1
psycopg2==2.9.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
aiogram==2.19
drf-yasg
celery
redis
boto3
fleep
numpy
pandas
sklearn
xgboost
